<div>
  <kms-heading heading="My work" subheading="What you are working on" :dark="darkTheme">
    <v-tabs centered v-model="tabs" color="transparent">
      <v-tab>My documents</v-tab>
      <v-tab>Bookmarks</v-tab>
      <v-tab>Following</v-tab>
      <v-tab>Last seen</v-tab>
    </v-tabs>
  </kms-heading>

  <v-container fluid>
    <v-tabs-items v-model="tabs">
      <v-tab-item class="pa-1">
        <kms-documents-tab></kms-documents-tab>
      </v-tab-item>

      <v-tab-item class="pa-1">
        <kms-bookmarks-tab></kms-bookmarks-tab>
      </v-tab-item>

      <v-tab-item class="pa-1">
        <kms-following-tab></kms-following-tab>
      </v-tab-item>

      <v-tab-item class="pa-1">
        <kms-last-seen-tab></kms-last-seen-tab>
      </v-tab-item>
    </v-tabs-items>
  </v-container>
</div>
