<v-card class="elevation-2">
    <v-card-title class="d-flex justify-center pb-0">
      <h1 class="display-1 text-xs-center">KMS</h1>
    </v-card-title>
    <v-card-text>
      <div v-if="isSigningUp || isCheckingToken" class="text-xs-center mt-4">
        <v-progress-circular indeterminate :size="50" color="primary"></v-progress-circular>
      </div>

      <h3 class="subtitle text-xs-center mt-3 mb-4" v-if="showError">
        Your invitation is incorrect. Contact with admin.
      </h3>

      <div v-if="canSignUp">
        <p class="subheading text-sm-center">
          You have been invited to join KM service <br> <br>
          <v-chip>{{ invitation.email }}</v-chip>
        </p>

        <v-form>
          <v-text-field v-model="name" label="Name" type="text" :error-messages="nameErrors" @input="$v.name.$touch()" @blur="$v.name.$touch()"></v-text-field>
          <v-text-field v-model="surname" label="Surname" type="text" :error-messages="surnameErrors" @input="$v.surname.$touch()" @blur="$v.surname.$touch()"></v-text-field>
          <v-text-field v-model="password" label="Password" type="password" :error-messages="passwordErrors" @input="$v.password.$touch()" @blur="$v.password.$touch()"></v-text-field>
        </v-form>

        <v-btn :loading="isSigningUp" class="mr-0 ml-0" block color="primary" outline @click="signup">
          Sign up
          <span slot="loader">Processing...</span>
        </v-btn>
      </div>

      <div class="text-sm-center">
        <v-btn flat small :to="{ name: 'Signin' }">Sign in</v-btn>
      </div>
    </v-card-text>
    <v-card-actions class="justify-center">
      <p class="grey--text text--darken-2 caption">
        &copy; KMS, 2018. All right reserved.
      </p>
    </v-card-actions>

    <v-snackbar v-model="showSnackbar" :timeout="snackbarTimeout" color="error" bottom>
      {{ snackbarText }}
      <v-btn flat @click.native="showSnackbar = false">Close</v-btn>
    </v-snackbar>
  </v-card>
