<v-container grid-list-lg fluid>
  <v-layout row wrap>
    <v-flex lg8>
      <h1 class="headline">Recent activity</h1>
      <h3 class="subheading mb-4">Most recent user actions</h3>

      <div v-if="!activityLoaded && activityLoading" class="text-xs-center">
        <v-progress-circular indeterminate :size="50" color="primary"></v-progress-circular>
      </div>

      <div v-if="!activityLoaded && !activityLoading || activityLoaded && activityNotFound" class="text-xs-center">
        <p>
          <img src="/static/spaceship.svg" width="100" />
        </p>
        <p class="subheading">
          Start using KMS to speed up project workflow
        </p>
        <v-btn color="primary" large :to="{ name: 'Project-create' }">Create project</v-btn>
      </div>

      <v-list v-if="activityLoaded && !activityNotFound" two-line subheader class="elevation-1">
        <v-subheader>
          You have {{ activityCount }} activity notifications
          <v-spacer></v-spacer>
          <v-btn small flat class="mr-0" fab @click="activityLoad" :loading="activityLoading">
            <v-icon v-if="!activityLoading">refresh</v-icon>
          </v-btn>
        </v-subheader>
        <v-list-tile avatar href="#" v-for="item in activity" :key="item.activity_id">
          <v-list-tile-avatar color="grey">J</v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title><span v-if="item.issuer">{{ item.issuer.name }} {{ item.issuer.surname }} - </span><span class="grey--text text--lighten-1">{{ item.project_name }}</span></v-list-tile-title>
            <v-list-tile-sub-title class="text--primary">
              <small class="d-block">Commented {{ item.time_fired | timeAgoFilter }}</small>
              {{ item.content }}
            </v-list-tile-sub-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-btn fab flat small>
              <v-icon color="grey lighten-1">chevron_right</v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>

        <div class="text-xs-center">
          <v-btn depressed @click="activityLoadMore" :loading="activityLoading">Load more</v-btn>
        </div>
      </v-list>
    </v-flex>

    <v-flex lg4>
      <div v-if="!introTemplateLoaded && introTemplateLoading" class="text-xs-center">
        <v-progress-circular indeterminate :size="50" color="primary"></v-progress-circular>
      </div>

      <div v-if="introTemplateLoaded && !introTemplateNotFound">
        <!-- <h1 class="headline">Welcome to KMS</h1>
        <h3 class="subheading mb-4">The place for managing project knowledge</h3>

        <p class="text-xs-center">
          <img src="/static/knowledge.svg" width="100" />
        </p>
        <p class="text-xs-center">
          There will be some motivation for work in form of the short text. I will write it later. <a href="#">Edit welcome message</a>
        </p> -->
        <h1 class="headline">{{ introTemplate.title }}</h1>
        <h3 class="subheading mb-4">{{ introTemplate.description }}</h3>

        <div v-html="introTemplate.content"></div>
      </div>
    </v-flex>
  </v-layout>
</v-container>
