<v-container fluid>
  <v-layout row wrap>
    <v-flex lg12>
      <h1 class="headline">New project</h1>
      <h3 class="subheading mb-4">Fulfill all the forms to create new project</h3>
    </v-flex>
  </v-layout>

  <v-layout row wrap>
    <v-flex lg8 offset-lg2>

      <v-card class="mb-3">
        <v-card-text>
          <v-form>
            <v-text-field label="Project name" :counter="100" required></v-text-field>
            <v-text-field label="Description" multi-line rows="3" :counter="1000" required></v-text-field>
            <v-text-field label="Main goal" :counter="100"></v-text-field>

            <v-container fluid grid-list-lg class="pa-0">
              <v-layout row wrap>
                <v-flex lg6>
                  <v-menu
                    ref="startDateMenu"
                    lazy
                    :close-on-content-click="false"
                    v-model="startDateMenu"
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                    :return-value.sync="startDate">
                    <v-text-field
                      slot="activator"
                      label="Start date"
                      v-model="startDate"
                      readonly></v-text-field>
                    <v-date-picker v-model="startDate" no-title scrollable>
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                      <v-btn flat color="primary" @click="$refs.startDateMenu.save(startDate)">OK</v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex lg6>
                  <v-menu
                    ref="endDateMenu"
                    lazy
                    :close-on-content-click="false"
                    v-model="endDateMenu"
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                    :return-value.sync="endDate">
                    <v-text-field
                      slot="activator"
                      label="Finish date"
                      v-model="endDate"
                      readonly></v-text-field>
                    <v-date-picker v-model="endDate" no-title scrollable>
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                      <v-btn flat color="primary" @click="$refs.endDateMenu.save(endDate)">OK</v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-flex>
              </v-layout>
            </v-container>

            <v-text-field label="A place for project avatar" :counter="100" required></v-text-field>

            <v-select
              label="Team"
              :items="users"
              v-model="projectTeam"
              item-text="name"
              item-value="name"
              multiple
              chips
              max-height="auto"
              required
              autocomplete>
              <template slot="selection" slot-scope="data">
                <v-chip
                  close
                  class="chip--select-multi">
                  <v-avatar color="green lighten-2">K</v-avatar>
                  {{ data.item.name }}
                </v-chip>
              </template>
              <!-- <template slot="item" slot-scope="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-tile-content v-text="data.item"></v-list-tile-content>
                </template>
                <template v-else>
                  <v-list-tile-avatar>
                    <img :src="data.item.avatar">
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                    <v-list-tile-sub-title v-html="data.item.group"></v-list-tile-sub-title>
                  </v-list-tile-content>
                </template>
              </template> -->
            </v-select>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn depressed>Cancel</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" depressed>Create project</v-btn>
        </v-card-actions>
      </v-card>

    </v-flex>
  </v-layout>
</v-container>
