<div>
  <kms-heading heading="Settings" subheading="Configure the system for your needs" :dark="darkTheme">
    <v-tabs centered v-model="tabs" color="transparent">
      <v-tab>Projects</v-tab>
      <v-tab>Users</v-tab>
      <v-tab>Competences</v-tab>
      <v-tab>Templates</v-tab>
      <v-tab>Access</v-tab>
    </v-tabs>
  </kms-heading>

  <v-container fluid>
    <v-layout row wrap>
      <v-flex lg8 offset-lg2>

        <v-tabs-items v-model="tabs" class="elevation-1">
          <v-tab-item>
            <kms-projects></kms-projects>
          </v-tab-item>

          <v-tab-item>
            <kms-users></kms-users>
          </v-tab-item>

          <v-tab-item>
            <kms-competences></kms-competences>
          </v-tab-item>

          <v-tab-item>
            <kms-templates></kms-templates>
          </v-tab-item>

          <v-tab-item>
            kek
          </v-tab-item>
        </v-tabs-items>

      </v-flex>
    </v-layout>
  </v-container>
</div>
