<div>
  <kms-heading heading="Project settings" subheading="" :dark="darkTheme">
    <v-breadcrumbs class="pa-0 mb-2" slot="breadcrumbs" divider="/">
      <v-breadcrumbs-item :to="{ name: 'Dashboard' }" exact>Dashboard</v-breadcrumbs-item>
      <v-breadcrumbs-item :to="{ name: 'Project-intro' }" exact>{{ project.name | textLimitFilter(25) }}</v-breadcrumbs-item>
      <v-breadcrumbs-item disabled>Settings</v-breadcrumbs-item>
    </v-breadcrumbs>
    <v-tabs centered v-model="tabs" color="transparent">
      <v-tab>Project info</v-tab>
      <v-tab>Documents</v-tab>
      <v-tab>Team</v-tab>
      <v-tab>Advanced</v-tab>
    </v-tabs>
  </kms-heading>

  <v-container fluid v-if="project">
    <v-layout row wrap>
      <v-flex lg8 offset-lg2>

        <v-tabs-items v-model="tabs" class="elevation-1">
          <v-tab-item>
            <kms-project-info-tab></kms-project-info-tab>
          </v-tab-item>

          <v-tab-item>
            <kms-documents-tab></kms-documents-tab>
          </v-tab-item>

          <v-tab-item>
            <kms-team-tab :projectId="project.project_id"></kms-team-tab>
          </v-tab-item>

          <v-tab-item>
            <kms-advanced-tab></kms-advanced-tab>
          </v-tab-item>
        </v-tabs-items>

      </v-flex>
    </v-layout>
  </v-container>
</div>
