<v-container fluid>
    <v-layout row wrap>
      <v-flex lg6>
        <h1 class="headline">Projects</h1>
        <h3 class="subheading mb-4">The common store for your knowledge</h3>
      </v-flex>
      <v-flex lg6 class="text-lg-right">
        <!-- <v-btn color="error" flat>Delete selected</v-btn> -->
        <v-btn color="primary" :to="{ name: 'Project-create' }">Create</v-btn>
        <!-- <v-btn color="primary" :to="{ name: 'Editor' }">Editor</v-btn> -->
      </v-flex>
    </v-layout>

    <v-layout>
      <v-flex xs12>
        <v-text-field prepend-icon="search" class="mb-3 elevation-1" solo clearable label="Type search request here..." v-model="projectsQuery"></v-text-field>

        <v-data-table
          search=""
          :headers="headers"
          :items="projectsResults"
          :loading="projectsLoading"
          :pagination.sync="pagination"
          :total-items="projectsCount"
          :rows-per-page-items="rowsPerPageItems"
          class="elevation-1">
          <template slot="items" slot-scope="props">
            <td><router-link :to="{ name: 'Project-intro', params: { projectslug: props.item.slug } }">{{ props.item.name }}</router-link></td>
            <td>{{ props.item.description | textLimitFilter(100) }}</td>
            <td>{{ props.item.members_count }}</td>
            <td>{{ props.item.date_start | dateFilter }}</td>
            <td>
              <v-chip small text-color="white" :color="props.item.is_active ? 'success' : 'grey'">{{ props.item.is_active ? 'Active' : 'Finished' }}</v-chip>
            </td>
            <td>
              <v-btn color="primary" outline small :to="{ name: 'Project-intro', params: { projectslug: props.item.slug } }">View</v-btn>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
